<h1>{{title}}</h1>
<p>{{pageText}}</p>
<div class="col-sm-12 col-md-12">
    <p class="text-justify">https://smartgreen-app.herokuapp.com/ <i>WE WANT A GREEN PLANET </i> is an initiative to help This app Bring the platform to share skills to invest time as a result wining money, improve your skills learn and help to the PLANET</p>
</div>
<p>We bring app to connect smart Ideas with Sponsors to help planet</p>
<img src="images/logo.png" alt="" width="500">
