<section>
    <div class="circle"></div>
    <div class="content">
        <div class="textBox">
            <h2>
                Bringing the future with Innovation<br />To <span> The Planet</span>
            </h2>
            <p>
                This app Bring the platform to share skills to invest time as a result wining money, improve your skills learn and help to the PLANET
            </p>
            <a href="#">Learn More</a>
        </div>
        <div class="imgBox">
            <img src="images/people.png" class="start" />
        </div>
    </div>

    <ul class="thumb">
        <li>
            <img
                    src="images/people.png"
                    onclick="imgSlider('images/people.png');changeCircleColor('#B6F018')"
            />
        </li>
        <li>
            <img
                    src="images/man.png"
                    onclick="imgSlider('images/man.png');changeCircleColor('#18E5F0')"
            />
        </li>
        <li>
            <img
                    src="images/team.png"
                    onclick="imgSlider('images/team.png');changeCircleColor('#F09B18')"
            />
        </li>
        <li>
            <img
                    src="images/business.png"
                    onclick="imgSlider('images/business.png');changeCircleColor('#1872F0')"
            />
        </li>
        <li>
            <img
                    src="images/dollar.png"
                    onclick="imgSlider('images/dollar.png');changeCircleColor('#DDF018')"
            />
        </li>
    </ul>
    <ul class="sci">
        <li>
            <a href="#"><img src="images/face.png" /></a>
        </li>
        <li>
            <a href="#"><img src="images/insta.png" /></a>
        </li>
        <li>
            <a href="#"><img src="images/Twit.png" /></a>
        </li>
    </ul>
</section>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<img src="images/logo.png" alt="" width="500">
</body>
<script src="./public/javascripts/script.js"></script>
<!-- Footer html  -->
<!-- Site footer -->
