<h1>Categories Details</h1>

<form method="post">
    <fieldset>
        <label for="catName" class="col-2">Category Name:</label>
        <input name="catName" id="catName" required>
    </fieldset>
    <fieldset>
        <label for="catDesc" class="col-2">Description:</label>
        <input name="catDesc" id="catDesc" required>
    </fieldset>
    <button class="offset-3 btn btn-primary">Save</button>
</form>